{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<center>

<style>
body {
	background-image:url(../image/photo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

</style>

     {# <a class="btn btn-primary btn-lg" href="#" role="button">CATEGORIE 1</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">CATEGORIE 2</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">TUTO</a>
    </p></center>#}

<br><br><br><br><br>

<div class="jumbotron"

    style="float: left">
            <img src={{asset("image/giphy.gif")}} width="90%">
    </div>

    <div class="jumbotron"
        span color="primary" class="ColorSpan"><U><h2>Bienvenue sur l'application INVENTORY</h2></U></span>
<br>
<p>Que ce soit pour la gestion de votre inventaire, le suivi des entrées et des sorties de matériel, INVENTORY, notre logiciel de gestion d’inventaire !</p>
        {% if app.user %}
            {% else %}
            <button  type="button" class="btn btn-outline-secondary"><a href=" {{path('app_login')}} " class="nav-link">Connexion</a></button>
        {% endif %}
<br><br><br>

</div>

{% endblock %}