{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="jumbotron">
    <center><p class="display-4">Bienvenue sur l'application de gestion d'inventaire INVENTORY</p>
    <hr class="my-4">
    <p class="lead">
     {# <a class="btn btn-primary btn-lg" href="#" role="button">CATEGORIE 1</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">CATEGORIE 2</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">TUTO</a>
    </p></center>#}

        {% if app.user %}
            {% else %}
            <button  type="button" class="btn btn-outline-secondary"><a href=" {{path('app_login')}} " class="nav-link">Connexion</a></button>
        {% endif %}

<div style="text-align: center;">
    <img src={{asset("image/giphy.gif")}} width="40%">
</div>

</div> 
{% endblock %}