{% extends 'base.html.twig' %}



{% block body %}
<h2 class="text-center pt-2 ">Attribution d'un CP</h2>

{{form_start(formTel,{'attr':{'novalidate':'novalidate'}})}}

{{form_row(formTel.lastModifTel)}}

<div class="row">
  <div class="col"><a href="{{path('admin_tels')}} " class="btn btn-success btn-block">Valider</a></div>
  {#<div class="col"><input type="submit", class="btn btn-success btn-block" value=
  {% if (app.request.attributes.get('_route')=="admin_tel_ajout") %}
  "Ajouter le tel"
  
  {% else %}
  "Modifier le tel"
  {% endif %}></div>#}
</div>

{{form_end(formTel)}}
{% endblock %}
